.root-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  overflow: auto;
  width: 100%;
}

.alert-message-wrapper {
  width: 50%;
  margin: 0 auto;
}
